.discover{
    position: relative;
    width: 100vw;
    padding: 70px 130px;
    background: #FAFBFF;
    font-family: 'Manrope';
}
.main-discover{
    position: relative;
    width: 100%;
    height: 438px;
    background: #3734A9;
    border-radius: 20px;
}
.discover-image{
    position: absolute;
    
}
.discover-content{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 25%;
    font-family: 'Manrope';
    color: #FFFFFF;
}
.discover-content p{
    font-weight: 800;
    font-size: 56px;
    line-height: 61px;
    width: 100%;
    text-align: center;
    padding: 0px 200px;
    align-items: center;
    /* margin-left: 20%; */
    margin-bottom: 45px;
}
.discover-content button{
    position: relative;
    background: #FF7F5C;
    border-radius: 10px;
    width: 223px;
    height: 67px;
    border: none;
    color: #FFFFFF;
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 700;
}

.discover-image{
    position: absolute;
    z-index: 10;
    right: 0;
    left: 82%;
    top: 12%;
}
.discover-image-2{
    position: absolute;
    z-index: 10;
    right: 0;
    left: 18%;
    top: 13%;
}
.discover-image-3{
    position: absolute;
    z-index: 10;
    right: 0;
    left: 11%;
    top: 66%;
}
.discover-image-4{
    position: absolute;
    z-index: 10;
    right: 0;
    left: 23%;
    top: 52%;
}
.discover-image-5{
    position: absolute;
    z-index: 10;
    right: 0;
    left: 80%;
    top: 54%;
}


@media screen and (max-width: 500px) {
    .discover{
        padding: 70px 0px;
    }
    .main-discover{
        width: 100%;
        border-radius: 0px;
    }
    .discover-content{
        width: 500px;
        height: 0%;
        top: 20%;
    }
    .discover-content p{
        font-weight: 800;
        font-size: 40px;
        margin-bottom: 45px;
        line-height: 50px;
        float: left;
        padding: 0px 50px;
    }

    .discover-image,
    .discover-image-2,
    .discover-image-3,
    .discover-image-4,
    .discover-image-5{
        display: none;
    }
    
}

@media screen and (max-width: 1198px) {   
    .discover{
        padding: 70px 0px;
    }
    .main-discover{
        width: 100%;
        border-radius: 0px;
    }
}
@media screen and (max-width: 1128px) {   
    .main-discover{
        width: 100%;
    }
    .discover-content{
        top: 20%;
    }
}


/* @media screen and (max-width: 868px) {
    .discover-content{
        width: 600px;
        top: 30%;
        left: 20%;
    }
    .discover-content p{
        font-weight: 800;
        font-size: 40px;
        margin-bottom: 45px;
        line-height: 50px;
        float: left;
        padding: 0px 50px;
    }
} */


@media screen and (max-width: 1008px) {
    .discover{
        padding: 70px 0px;
    }

    .main-discover{
        width: 100%;
        border-radius: 0px;
    }
}