.statics{
    position: relative;
    width: 100vw;
    left: 0px;
    background: #3734A9;
    font-family: 'Manrope';
 
}

.static-wrap{
    width: 100%;
    display: flex;
}
 
 
.statics-left{
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 19px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    width:32%;
    margin-right: 40px; 
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
    border-right: 2px solid #3D3D3D;
}
.statics-left p{
    width:140px;
    margin-right:35px;
}
 
.static-right{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 256px;
    align-items: center;
    display: flex;
}
.static-number{
    font-weight: 800;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.static-active{
    display: flex;
}
.static-active p{
    margin-left: 15px;
    font-weight: 400;
    font-size: 30px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.static-active i{
    font-size: 25px;
    color: #B1CA16;
    margin-top: 2px;
}
 
.static-image{
    width: 15%;
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 0px;
}
 
@media screen and (max-width: 640px) {
    .static-wrap{
        display: block;
    }    
    .statics-left{
        margin-right: 0px;
        padding-top: 15px;
        flex-direction: row;
        width: 100%;
    }
    .statics-left p{
        margin-right: 0px;
        width: 100%;
        text-align: center;
    }
    .static-image{
        display: none;
    }
    .static-number{
        font-size: 40px;
    }
    .static-active p{
        font-size: 15px;
    }
    .static-right{
        height: 100%;
        padding: 30px;
    }
}
@media screen and (max-width: 1008px) {
    .static-wrap{
        display: block;
    }    
    .statics-left{
        margin-right: 0px;
        padding-top: 15px;
        flex-direction: row;
        width: 100%;
    }
    .statics-left p{
        margin-right: 0px;
        width: 100%;
        text-align: center;
    }
    .static-image{
        display: none;
    }
    .static-number{
        font-size: 40px;
    }
    .static-active p{
        font-size: 15px;
    }
    .static-right{
        height: 100%;
        padding: 30px;
    }
}